.TabelaProdutos table {
    width: 100%;
}
.TabelaProdutos th {
    background-color: aquamarine;
}

.TabelaProdutos .Par {
    background-color: #ddd;
}

.TabelaProdutos .Impar {
    background-color: #CCC;
}